/*
    SIDEBAR.CSS

    - Last updated: 04.02.19
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// SIDEBAR SECTION
// reduce on medium where the stack gap is large
//-----------------------------------------------------------------

.sidebar .section {
    @include media-breakpoint-down(md) {
        padding: 0;
    }
}

.sidebar.ml-auto .section {
    @include media-breakpoint-down(md) {
        overflow: visible;
    }
}

//-----------------------------------------------------------------
// SIDEBAR
//-----------------------------------------------------------------

.sidebar {
    position: relative;
    height: 100%; // [LOCKED]
    z-index: 1;

    @include media-breakpoint-down(md) {
        max-width: none !important; // override inline style
    }

    .bg-fill {
        position: absolute;
        left: -20px;
        top: 0;
        width: 100vw;
        height: 100%;
        background: $secondary;
        z-index: -1;

        @include media-breakpoint-up(md) {
            left: -30px;
        }

        @include media-breakpoint-up(lg) {
            left: 0;
        }
    }
}

//-----------------------------------------------------------------
// SIDE NAV
//-----------------------------------------------------------------

.side-nav {
    width: calc(100% + #{$container-gutter/1.5}*2);
    margin-bottom: rem-calc(-16); // make it neat at the bottom
    margin-left: -$container-gutter/1.5; // same as global.scss

    @include media-breakpoint-up(md) {
        width: calc(100% + #{$container-gutter}*2);
        margin-left: -$container-gutter; // same as global.scss
    }

    @include media-breakpoint-up(lg) {
        width: auto;
        margin: 0;
    }

    li {
        border-bottom: 1px solid rgba(black, 0.15);
    }

    a,
    .anchor {
        display: flex;
        align-items: center;
        padding: rem-calc(20 25 20 22);
        font-size: rem-calc(16);
        font-weight: $font-weight-bolder;
        color: white;

        @include media-breakpoint-up(md) {
            padding: rem-calc(20 25 20 34); // curated
            font-size: rem-calc(20);
        }

        @include media-breakpoint-up(lg) {
            padding: rem-calc(20 22 20 44);
        }

        .fa-angle-right {
            margin-left: auto;
            font-size: rem-calc(34);
            line-height: 0;
        }
    }

    .active {
        border-bottom: 1px solid rgba(black, 0.05);
        background: rgba(black, 0.1);
    }

    .side-nav-header {
        border-top: 1px solid rgba(black, 0.15);

        a,
        .anchor {
            font-size: rem-calc(23);
            padding: rem-calc(30 22 30 22);

            @include media-breakpoint-up(md) {
                padding: rem-calc(20 25 20 34); // curated
            }

            @include media-breakpoint-up(lg) {
                padding: rem-calc(30 22 30 44);
            }

            .fa-align-left {
                margin-right: rem-calc(15);
                font-size: rem-calc(45);
                color: rgba(white, 0.3);
                line-height: 0;
            }
        }
    }

    .side-nav-header.active {
        border-top: 1px solid rgba(black, 0.05);
    }

    a:hover {
        background: rgba(black, 0.02);
    }
}

//-----------------------------------------------------------------
// SIDEBAR TEAM
//-----------------------------------------------------------------

.side-team {
    padding: $spacer*3 0; // since sections get stripped padding in sidebar

    @include media-breakpoint-up(lg) {
        padding: 0;
        margin-left: rem-calc(45);
    }

    @include media-breakpoint-up(xl) {
        max-width: rem-calc(585);
    }
}

//-----------------------------------------------------------------
// SIDEBOX
//-----------------------------------------------------------------

.sidebox {
    padding: rem-calc(22);
    // margin-bottom: 2px;
    background: #e7e7e7;
    color: $yiq-text-dark; //#393939;

    @include media-breakpoint-up(xl) {
        // padding: rem-calc(25 38); // on contact
        padding: rem-calc(22 28);
    }

    h3 {
        width: calc(100% + #{rem-calc(22*2)});
        margin-left: rem-calc(-22);
        padding-left: rem-calc(22);
    	padding-bottom: rem-calc(20);
    	border-bottom: 1px solid #d2d2d2;

        @include media-breakpoint-up(xl) {
            width: calc(100% + #{rem-calc(28*2)});
            margin-left: rem-calc(-28);
            padding-left: rem-calc(28);
        }
    }

    a {
        color: #393939;

        &:hover {
            opacity: 0.9;
        }
    }

    .fa.mr-2 {
        min-width: rem-calc(20);
        font-size: rem-calc(17);
        text-align: center;
    }
}

//-----------------------------------------------------------------
// INNER BLOCK GRID
//-----------------------------------------------------------------

.sidebox {
	[class*="block-grid-"] {
		margin: rem-calc(-10);
	}

	[class*="block-grid-"] > li,
		.block-grid-item {
		padding: rem-calc(10);
	}
}

//-----------------------------------------------------------------
// AUTHOR BOX
//-----------------------------------------------------------------

.author-box {

    p {
        font-size: rem-calc(13);
    }

    .author-box-header {
        padding: rem-calc(20);
        margin: 0;
        background: #e7e7e7;
    }

    .author-box-body {
        padding: rem-calc(20);
        background: #eeeeee;
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.side-btn {
    padding: rem-calc(15 15);
    background: #d8d5d5;
    border: none;
    color: $yiq-text-dark;
    font-weight: $font-weight-normal;
    text-transform: none;

    .fa-angle-right {
        font-size: rem-calc(34);
    }

    &:hover {
        background: darken(#d8d5d5, 5%);
        color: $yiq-text-dark;
    }
}

//-----------------------------------------------------------------
// ADHOC SIDE-FORM
// used in contact pages
//-----------------------------------------------------------------

.side-form {
    padding: rem-calc(30 0);

    @include media-breakpoint-up(lg) {
        padding: rem-calc(0 0 0 30);
    }

    @include media-breakpoint-up(xl) {
        padding: rem-calc(0 0 0 45);
    }

    .side-form-heading .fa {
        line-height: 0;
        opacity: 0.3;

        @include media-breakpoint-up(xl) {
            font-size: rem-calc(48);
        }
    }
}

//=========================================
//
//=========================================