---
layout: base
---

{% assign hero_options = page.hero_options | default: 'is-short' %}

{% include components/hero/hero_static.html
	bg_image=page.hero_image
	options=hero_options
%}

{% if page.breadcrumbs %}
	{% include components/navigation/breadcrumbs.html %}
{% endif %}

<!-- MAIN BODY -->
<main class="main-body">
	<div class="container">
	    <div class="row">
	        <div class="col-lg-8">
	        	{{ content }}
	        </div>
	        <div class="col-lg-4 mb-1 mb-lg-0">
				<aside class="sidebar">

					<!-- BG FILL -->
					<div class="bg-fill"></div>

					<!-- REQUEST A CALLBACK -->
					<section class="section">
					    <div class="side-form mb-4">

					        <!-- HEADING -->
					        <h3 class="side-form-heading d-flex align-items-center text-white mb-4">
					            <i class="fa fa-comments-o mr-2 mr-xl-3"></i>
					            <span>Request a callback</span>
					        </h3>

					        {% include form_contact.html %}
					    </div>
					</section>

				</aside>
	        </div>
	    </div>
	</div>

	{% contentblock content_additional no-convert %}
</main>