---
layout: base
---

{% include components/hero/hero.html
	data=page.hero_slides
	options=page.hero_options
%}

<!-- MAIN BODY -->
<main class="main-body">

	<!-- NEED LEGAL ADVICE? -->
	<section class="section section-cta is-secondary py-5">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-7 col-xl-7 d-flex align-items-md-center">

					<!-- ICON -->
					<i class="d-block fa fa-question-circle mb-3"></i>

					<!-- CONTENT -->
					<div class="mb-4">
						<h2 class="text-white text-uppercase">Need Legal Advice?</h2>
						<p class="h4 font-weight-normal mb-0">We have 9 offices across Queensland, New South Wales, Tasmania and Northern Territory.</p>
					</div>

				</div>
				<div class="col-md-5 col-xl-5">

					<!-- FIND YOUR LOCAL OFFICE -->
					<div class="text-center text-md-right mr-md-4">
						<a href="/contact/" class="btn btn-lg btn-primary">Find your local office <i class="fa fa-angle-right ml-4"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- LATEST FROM THE BLOG -->
	<section class="section is-primary">
		<div class="container">
			<h2 class="text-white text-uppercase text-center mb-5">Latest from the Blog</h2>
			{% include components/cards/cards.html flat="true" columns=4 %}
			<p class="text-center mb-0">
				<a href="#" class="btn btn-secondary">More Blog Articles &nbsp;<i class="fa fa-angle-right"></i></a>
			</p>
		</div>
	</section>

	{% include sections/section_contact.html %}

</main>