---
layout: base
---

{% assign hero_options = page.hero_options | default: 'is-short' %}

{% include components/hero/hero_static.html
	bg_image=page.hero_image
	options=hero_options
%}

{% if page.breadcrumbs %}
	{% include components/navigation/breadcrumbs.html %}
{% endif %}

<!-- MAIN BODY -->
<main class="main-body">
	<div class="container">
	    <div class="row">
	        <div class="col-lg-7 col-xl-6 pr-lg-5">
	        	{{ content }}
	        </div>
	        <div class="col-lg-5 col-xl-6">
				<aside class="sidebar">

					{% contentblock sidebar no-convert %}
				</aside>
	        </div>
	    </div>
	</div>

	{% contentblock content_additional no-convert %}
</main>