---
layout: base
---

{% include components/hero/hero.html align_caption="center" options=page.hero_options data=page.hero_data %}

<!-- BODY -->
<main class="main-body">

	<!-- CARDS -->
	<section class="section is-primary">
		<div class="container">
			<h2 class="text-uppercase text-center mb-5">Latest from the Blog</h2>
			{% include components/cards/cards.html flat="true" columns=4 %}
			<p class="text-center mb-0">
				<a href="#" class="btn btn-secondary">More Blog Articles &nbsp;<i class="fa fa-angle-right"></i></a>
			</p>
		</div>
	</section>

	<section class="section">

	</section>

{% comment %}


	<!-- MEDIA ARTICLE -->
	{% capture item %}{% include components/media/media_article.html %}{% endcapture %}
	{% include sections/section.html content_block=item %}

	<!-- CARDS -->
	{% capture item %}{% include components/cards/cards.html columns=4 %}{% endcapture %}
	{% include sections/section.html content_block=item %}

	<!-- CARDS SLIDER -->
	{% capture item %}{% include components/cards/cards__slider.html columns=4 %}{% endcapture %}
	{% include sections/section.html content_block=item %}

	<!-- CARDS TABS -->
	{% capture item %}{% include components/cards/cards__tabs.html columns=4 %}{% endcapture %}
	{% include sections/section_center.html content_block=item %}

	<!-- ACCORDION -->
	{% capture item %}{% include components/content/accordion.html uid="faq" data=site.data.faq %}{% endcapture %}
	{% include sections/section.html content_block=item %}

	<!-- AUDIO -->
	{% capture item %}{% include components/media/audio_player.html %}{% endcapture %}
	{% include sections/section_split.html content_block=item %}

	<!-- GALLERY -->
	{% capture item %}{% include components/media/gallery.html data=site.data.gallery %}{% endcapture %}
	{% include sections/section.html content_block=item %}

	<!-- GALLERY CONDENSED -->
	{% capture item %}{% include components/media/gallery.html options="is-condensed" data=site.data.gallery %}{% endcapture %}
	{% include sections/section.html content_block=item %}

	<!-- GALLERY -->
	{% capture item %}{% include components/media/gallery.html data=site.data.gallery %}{% endcapture %}
	{% include sections/section_full.html content_block=item %}

	<!-- GALLERY GAPLESS -->
	{% capture item %}{% include components/media/gallery.html options="is-gapless" data=site.data.gallery %}{% endcapture %}
	{% include sections/section_full.html content_block=item %}

	<!-- MEDIA LIGHTBOX -->
	{% capture item %}{% include components/media/media_lightbox.html data=site.data.gallery_single %}{% endcapture %}
	{% include sections/section_split.html content_block=item %}

	<!-- MEDIA LIGHTBOX -->
	{% capture item %}{% include components/media/media_lightbox.html data=site.data.gallery_single %}{% endcapture %}
	{% include sections/section_split_reversed.html content_block=item %}

	<!-- CARDS -->
	{% capture item %}{% include components/cards/cards.html %}{% endcapture %}
	{% include sections/section.html content_block=item %}

	<!-- CARDS SLIDER -->
	{% capture item %}{% include components/cards/cards__slider.html %}{% endcapture %}
	{% include sections/section.html content_block=item %}

	<!-- CARDS TABS -->
	{% capture item %}{% include components/cards/cards__tabs.html %}{% endcapture %}
	{% include sections/section_center.html content_block=item %}

	<!-- AFFILIATES -->
	{% capture item %}{% include components/media/affiliates.html %}{% endcapture %}
	{% include sections/section_center.html content_block=item %}

	{% endcomment %}

</main>