{% assign settings = site.data.settings %}
{% assign sitemap = site.data.sitemap %}
{% assign logo = page.logo | default: "/assets/img/content/logo.png" %}

<!-- FOOTER BODY -->
<section class="global-footer-body">
	<div class="container">
		<div class="row">
			<div class="col-md-8">

				<div class="row">
					<div class="col-md-4 col-lg-5 contact-col">

						<!-- LOGO -->
						<div class="mb-4">
							<a class="logo" href="/" title="{{ settings.title_homepage }}" itemprop="url">
							    <img src="{{ logo }}" alt="{{ settings.company }}" itemprop="logo">
							</a>
						</div>

					</div>
					<div class="col-md-8 col-lg-7">

						<!-- PHONE -->
						<p class="mb-1">
		                    <span class="d-inline-flex align-items-center">
		                        <i class="fa fa-phone mr-1"></i>
		                        <span class="text">{{ settings.offices[0].phone }}</span>
		                    </span>
		                </p>

						<!-- EMAIL -->
						<p class="mb-1">
		                    <span class="d-inline-flex align-items-center">
		                        <i class="fa fa-envelope mr-1"></i>
		                        <span class="text">{{ settings.offices[0].email }}</span>
		                    </span>
		                </p>

						<!-- MAP -->
						<p class="mb-4">
		                    <span class="d-inline-flex align-items-start">
		                        <i class="fa fa-map-marker mr-1"></i>
		                        <span class="text">
		                        	We have 9 offices across Queensland, New South Wales, Tasmania and the Northern Territory.
									<br>
									<span class="d-block spacer mb-1"></span>
									<a href="#" class="text-link">Find your local office <i class="fa fa-angle-right"></i></a>
		                        </span>
		                    </span>
		                </p>

					</div>
				</div>

			</div>
			<div class="col-md-4 ml-autoX d-flex justify-content-md-end"> <!-- style="flex-basis: 488px;" -->
				{% include components/social_media.html %}
			</div>
		</div>
	</div> <!-- /.container -->

	<!-- BG SPLIT -->
	<div class="bg-split hidden-sm-down">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-8 col-xl-9">
	                <div class="bg-fill-1 mr-xl-5"></div>
	            </div>
	        </div>
	    </div>
	</div>

</section>

<!-- FOOTER BOTTOM -->
<section class="global-footer-bottom">
    <div class="container">

    	<!-- BACK TO TOP -->
    	<div class="text-center text-md-right">
    		<button data-back-top class="btn-back-top">
    			<div>
    				<i class="d-block fa fa-angle-up"></i>
    				<span class="text">TOP</span>
    			</div>
    		</button>
    	</div>

		<div class="row">
			<div class="col-md-8">

				<!-- COPYRIGHT + SITEMAP -->
				<!-- <small class="mr-2 d-block d-md-inline">
					&copy; <date class="mr-2"><script>document.write(new Date().getFullYear())</script></date>
					<a href="/site-map/">Site Map</a>
					<a data-toggle="collapse" href="#sitemap">Site Map&nbsp;<i class="fa fa-angle-down"></i></a>
				</small> -->

				<!-- LINKS -->
				<div class="mb-4 mb-md-0 pr-2">
					<small class="d-inline-block mb-1 mr-4 text-uppercase"><a href="#">Privacy Policy</a></small>
					<small class="d-inline-blocl mb-1 mr-4 text-uppercase"><a href="#">Refund Policy</a></small>
					<br>
					<small class="legal-text">Individual liability limited by a scheme approved under professional standards legislation (personal injury work exempted)</small>
				</div>

			</div>
			<div class="col-md-4 d-flex align-items-end justify-content-md-end">

				<!-- AUTHOR -->
				<small>
					<a class="author-logo" target="_blank" href="{{ settings.author.url }}">
				    	<span class="text text-uppercase mr-1">{{ settings.author.description }}</span>
				    	<img width="20" height="20" src="{{ settings.author.logo }}" alt="Powered by {{ settings.author.title }}">
					</a>
				</small>

			</div>
		</div>
    </div> <!-- /.container -->

    <!-- BG SPLIT -->
    <div class="bg-split hidden-sm-down">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xl-9">
                    <div class="bg-fill-a mr-xl-5"></div>
                </div>
            </div>
        </div>
    </div>

</section>