{% assign settings = site.data.settings %}
{% assign sitemap = site.data.sitemap %}
{% assign logo = page.logo | default: "/assets/img/content/logo.png" %}

<!-- FOOTER BODY -->
<section class="global-footer-body">
	<div class="container">
		<div class="row">
			<div class="col-md-8">

				<div class="row">
					<div class="col-md-4 col-lg-5 contact-col">

						<!-- LOGO -->
						<div class="mb-4">
							<a class="logo" href="/" title="{{ settings.title_homepage }}" itemprop="url">
							    <img src="{{ logo }}" alt="{{ settings.company }}" itemprop="logo">
							</a>
						</div>

					</div>
					<div class="col-md-8 col-lg-7">

						<!-- PHONE -->
						<p class="mb-1">
		                    <a class="d-inline-flex align-items-center" href="tel:{{ settings.offices[0].phone }}">
		                        <i class="fa fa-phone mr-1"></i>
		                        <span class="text">{{ settings.offices[0].phone }}</span>
		                    </a>
		                </p>

						<!-- EMAIL -->
						<p class="mb-1">
		                    <a class="d-inline-flex align-items-center" href="tel:{{ settings.offices[0].email }}">
		                        <i class="fa fa-envelope mr-1"></i>
		                        <span class="text">{{ settings.offices[0].email }}</span>
		                    </a>
		                </p>

						<!-- MAP -->
						<p class="mb-4">
		                    <span class="d-inline-flex align-items-start">
		                        <i class="fa fa-map-marker mr-1"></i>
		                        <span class="text">
		                        	We have 9 offices across Queensland, New South Wales, Tasmania and the Northern Territory.
									<br>
									<span class="d-block spacer mb-1"></span>
									<a href="/contact/" class="text-link">Find your local office <i class="fa fa-angle-right"></i></a>
		                        </span>
		                    </span>
		                </p>

					</div>
				</div>

			</div>
			<div class="col-md-4 d-flex justify-content-md-end">
				{% include components/social_media.html %}
			</div>
		</div>
	</div> <!-- /.container -->

	<!-- BG SPLIT -->
	<div class="bg-split hidden-sm-down">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-8 col-xl-9">
	                <div class="bg-fill-1 mr-xl-5"></div>
	            </div>
	        </div>
	    </div>
	</div>

</section>

<!-- FOOTER BOTTOM -->
<section class="global-footer-bottom">
    <div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="mb-4 mb-md-0 pr-2">

					<!-- PRIVACY POLICY -->
					<small class="d-inline-block mb-1 mr-4 text-uppercase">
						<a href="#">Privacy Policy</a>
					</small>

					<!-- REFUND POLICY -->
					<small class="d-inline-block mb-1 mr-4 text-uppercase">
						<a href="#">Refund Policy</a>
					</small>

					<!-- SITEMAP (OPTIONAL) -->
					<small class="d-inline-block mb-1 mr-4 text-uppercase">
						<a href="/site-map/">Site Map</a>
					</small>

					<br>

					<!-- LEGAL TEXT -->
					<small class="legal-text">
						<!-- (optional) -->
						&copy; <date class="mr-1"><script>document.write(new Date().getFullYear())</script></date>
						Individual liability limited by a scheme approved under professional standards legislation (personal injury work exempted)
					</small>

				</div>
			</div>
			<div class="col-md-4 d-flex align-items-end justify-content-md-end">

				<!-- AUTHOR -->
				<small>
					<a class="author-logo" target="_blank" href="{{ settings.author.url }}">
				    	<span class="text text-uppercase mr-1">{{ settings.author.description }}</span>
				    	<img width="20" height="20" src="{{ settings.author.logo }}" alt="Powered by {{ settings.author.title }}">
					</a>
				</small>

			</div>
		</div>
    </div> <!-- /.container -->

    <!-- BACK TO TOP -->
    <div class="text-center text-md-right">
    	<button data-back-top class="btn-back-top">
    		<div>
    			<i class="d-block fa fa-angle-up"></i>
    			<span class="text">TOP</span>
    		</div>
    	</button>
    </div>

    <!-- BG SPLIT -->
    <div class="bg-split hidden-sm-down">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xl-9">
                    <div class="bg-fill-1 mr-xl-5"></div>
                </div>
            </div>
        </div>
    </div>

</section>