---
layout: base__page
---

{% contentfor hero_caption %}

	<!-- HEADING -->
	<h1 class="display-1 text-white text-uppercase mb-4">
		{{ page.title }}
	</h1>

	<!-- LEAD -->
	<p class="display-3">
		{{ page.lead }}
	</p>

	<div class="spacer mb-4"></div>

	<!-- WYSIWYG -->
	<div class="wysiwyg">
		{{ content }}
	</div>

	<div class="spacer my-3"></div>

	<!-- CTAS -->
	<div><a href="/our-people/" class="btn btn-hero btn-block btn-secondary">Our People <i class="fa fa-angle-right"></i></a></div>
	<div><a href="/about/why-switch-to-hall-payne/" class="btn btn-hero btn-block btn-secondary">Why Switch? <i class="fa fa-angle-right"></i></a></div>
	<div><a href="/about/" class="btn btn-hero btn-block btn-secondary">Community Work <i class="fa fa-angle-right"></i></a></div>

{% endcontentfor %}

<!-- SECTION CLAIMS -->
<section class="section">
	<div class="container">
		<div class="row">
			{% for item in page.claims %}
				<div class="col-lg-4">

					<!-- CLAIM -->
					<div class="mb-4 mb-lg-0">
						<h3 class="d-flex flex-column flex-xl-row align-items-center text-uppercase text-dark mb-3">
							<div class="text-center text-xl-left mb-3 mb-xl-0">
								<img class="mr-3" src="{{ item.image }}" alt="Icon">
							</div>
							<span class="text">{{ item.title }}</span>
						</h3>
						<div class="pr-xl-4">
							{{ item.body }}
						</div>
					</div>

				</div>
			{% endfor %}
		</div>
	</div>
</section>

{% include sections/section_contact.html %}