---
layout: base__page
---

{% assign nav_items = site.data.sitemap[3].children[0].children %}

<!-- SECTION -->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 pr-lg-5">
				<div class="pr-xl-5">

					<!-- LEAD -->
					<p class="lead mb-4">
						{{ page.lead }}
					</p>

					<!-- WYSIWYG -->
					<div class="wysiwyg mb-5">
						{{ content | markdownify }}
					</div>

					<hr>

					<h2 class="h4 mb-4">Our Personal Compensation Law Team</h2>

					<ul class="block-grid-md-4">
						{% for item in site.data.staff %}
							<li>

								<!-- CARD -->
								<div class="card is-flat">

									<!-- IMAGE -->
									<a class="btn-tile" href="{{ item.url }}">
										<img width="100%" class="card-img-top" src="/assets/img/ui/no-face.png" alt="{{ item.name }}">
										<span class="btn-tile-bg" style="background-image: url('/assets/img/ui/no-face.png')"></span>
									</a>

									<!-- CARD BODY -->
									<div class="card-body d-flex flex-column fill-1">

										<!-- TITLE -->
										<a href="{{ item.url }}">
											<h3 class="h5 text-uppercase card-title mb-1">{{ item.name }}</h3>
										</a>

										<!-- POSITION + LOCATION -->
										<p class="text-muted h6 font-weight-normal">
											<span>{{ item.position}}</span><br>
											<span>{{ item.location }}</span>
										</p>

									</div>
								</div>

							</li>
						{% endfor %}
					</ul>

				</div>
			</div>
		</div>
	</div>
</section>

<!-- BLOG POSTS -->
<section class="section is-primary">
	<div class="container">
		<h2 class="text-white text-uppercase text-center mb-5">Blog Posts - Personal Compensation Law</h2>
		{% include components/cards/cards.html flat="true" columns=4 %}
		<p class="text-center mb-0">
			<a href="#" class="btn btn-secondary">More Blog Articles &nbsp;<i class="fa fa-angle-right"></i></a>
		</p>
	</div>
</section>

{% include sections/section_contact.html %}