---
layout: base__page
---

{% assign law_team = site.data.staff %}

<!-- SECTION -->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 pr-lg-5">
				<div class="pr-xl-5">

					<!-- LEAD -->
					<p class="lead mb-4">
						{{ page.lead }}
					</p>

					<!-- WYSIWYG -->
					<div class="wysiwyg mb-5">
						{{ content | markdownify }}
					</div>

					<hr class="mb-4 pb-1">

					<!-- HEADING -->
					<h4 class="mb-4 pb-1">
						Our Superannuation &amp; Insurance Law Team
					</h4>

					<!-- LAW TEAM -->
					<ul class="block-grid-xs-1 block-grid-md-3 block-grid-xxl-4 is-condensed-more">
						{% for item in law_team %}
							<li>
								{% include components/media/media_btn.html %}
							</li>
						{% endfor %}
					</ul>

				</div>
			</div>
		</div>
	</div>
</section>

<!-- BLOG POSTS -->
<section class="section is-primary">
	<div class="container">
		<h2 class="text-white text-uppercase text-center mb-5">Blog Posts - Personal Compensation Law</h2>
		{% include components/cards/cards.html flat="true" columns=4 %}
		<p class="text-center mb-0">
			<a href="#" class="btn btn-secondary">More Blog Articles &nbsp;<i class="fa fa-angle-right"></i></a>
		</p>
	</div>
</section>

{% include sections/section_contact.html %}