---
layout: base__page_sidebar_6x6
---

{% assign law_team = site.data.staff %}
{% assign nav_items = site.data.sitemap[3].children[0].children %}
{% assign accordion = page.accordion %}

<!-- SECTION -->
<section class="section">

	<!-- LEAD -->
	<p class="lead mb-4">
		{{ page.lead }}
	</p>

	<!-- WYSIWYG -->
	<div class="wysiwyg mb-5">
		{{ content | markdownify }}
	</div>

	<hr class="mb-4 pb-1">

	<!-- CONTENTS NAV -->
	<nav class="mb-5">
		{% for item in accordion %}

			<!-- CONTENTS ANCHOR -->
			<div id="contents-{{ item.title | slugify }}">
				<a href="#{{ item.title | slugify }}" class="btn btn-hero btn-block btn-hero btn-accordion">
					<span>{{ item.title }}</span>
					<i class="fa fa-angle-down"></i>
				</a>
			</div>
		{% endfor %}
	</nav>

	<!-- CONTENTS -->
	{% for item in accordion %}
		<section id="{{ item.title | slugify }}" class="wysiwyg mb-1 pb-1">

			<!-- HEADING -->
			<h2 class="d-flex mb-3">
				<span>{{ item.title }}</span>

				<!-- BACK UP -->
				<a href="#contents-{{ item.title | slugify }}" class="btn-up ml-auto">
					<i class="fa fa-angle-up"></i>
				</a>
			</h2>

			<!-- BODY -->
			{{ item.body | markdownify }}
		</section>
	{% endfor %}

</section>

{% contentfor sidebar %}
	<!-- SECTION -->
	<section class="section pb-0">

		<!-- SIDE NAV -->
		<nav class="side-nav">
			<ul class="list-unstyled">
				<li class="side-nav-header active">
					<div class="anchor">
						<i class="fa fa-align-left"></i>
						<span class="text">In this section</span>
					</div>
				</li>
				{% for item in nav_items %}
					<li>
						<a href="{{ item.url }}">
							<span class="text">{{ item.title }}</span>
							<i class="fa fa-angle-right"></i>
						</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	</section>

	<div class="spacer mb-lg-5 pb-lg-1"></div>

	<!-- TEAM -->
	<section class="section pt-0">
		<div class="side-team">

			<!-- HEADING -->
			<h4 class="text-white mb-4 pb-1">
				Our Personal Compensation Law Team
			</h4>

			<!-- LAW TEAM -->
			<ul class="block-grid-xs-1 block-grid-md-3 block-grid-lg-1 block-grid-xl-2 is-condensed-more">
				{% for item in law_team limit: 6 %}
					<li>
						{% include components/media/media_btn.html %}
					</li>
				{% endfor %}
			</ul>

		</div>
	</section>
{% endcontentfor %}

{% contentfor content_additional %}
	<!-- BLOG POSTS -->
	<section class="section is-primary">
		<div class="container">
			<h2 class="text-white text-uppercase text-center mb-5">Blog Posts - Personal Compensation Law</h2>
			{% include components/cards/cards.html flat="true" columns=4 %}
			<p class="text-center mb-0">
				<a href="#" class="btn btn-secondary">More Blog Articles &nbsp;<i class="fa fa-angle-right"></i></a>
			</p>
		</div>
	</section>

	{% include sections/section_contact.html %}
{% endcontentfor %}