---
layout: base__page
---

<h3 class="text-center my-5">Section Pending</h3>
<div class="section"></div>

<!-- BLOG POSTS -->
<section class="section is-primary">
	<div class="container">
		<h2 class="text-uppercase text-center mb-5">Blog Posts - Superannuation &amp; Insurance</h2>
		{% include components/cards/cards.html flat="true" columns=4 %}
		<p class="text-center mb-0">
			<a href="#" class="btn btn-secondary">More Blog Articles &nbsp;<i class="fa fa-angle-right"></i></a>
		</p>
	</div>
</section>