---
layout: base__page_sidebar_9x3
---

{% assign categories = site.categories | sort %}
{% assign blog_posts = site.data.lorem_ipsum %}
{% assign item = blog_posts[0] %}

<!-- BLOG POST -->
<section class="section">

    <!-- TITLE -->
    <h1 class="h2">{{ item.title }}</h1>

    <!-- DATE -->
    <p class="text-muted mb-4">
        <i class="fa fa-calendar-o"></i>
        <time datetime="{{ item.date | date_to_xmlschema }}">
            {{ item.date | date: "%d %B %Y" }}
        </time>
    </p>

    <!-- IMAGE -->
    <p class="img-right">
        <img width="100%" src="https://placehold.it/400x236" alt="DESC HERE">
    </p>

    <!-- WYSIWYG -->
    <div class="wysiwyg mb-5">
        {{ content | markdownify }}
    </div>

    <p>
        <a class="float-left" href="#prev"><i class="fa fa-angle-left"></i> Previous Blog Post</a>
        <a class="float-right" href="#next">Next Blog Post <i class="fa fa-angle-right"></i></a>
    </p>

</section>

{% contentfor sidebar %}

    <!-- RECENT POSTS -->
    <section class="section">
        <div class="sidebox">
            <h3 class="sidebox-header h5 text-uppercase mb-4"><i class="fa fa-align-left"></i> Categories</h3>
            {% for item in blog_posts limit: 3 %}
                    <a class="d-block mb-3" href="{{ item.url }}">
                        <h4 class="h6 mb-0">{{ item.title }}</h4>
                        <small class="text-uppercase text-muted">
                            <time datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: "%d %B %Y" }}</time>
                        </small>
                    </a>
                {% endfor %}
        </div>
    </section>

{% endcontentfor %}