---
layout: base__page_sidebar_8x4_form
---

{% assign settings = site.data.settings %}

<!-- SECTION -->
<section class="section">
    <div class="row">
        <div class="col-md-6">

            <!-- QUEENSLAND -->
            <h2 class="h3 text-uppercase text-dark mb-3">
                Queensland
            </h2>

            {% for item in settings.offices['qld'] %}
                {% include components/content/contact_box.html %}
            {% endfor %}

            <div class="spacer mb-4"></div>

        </div>
        <div class="col-md-6">

            <!-- NEW SOUTH WALES -->
            <h2 class="h3 text-uppercase text-dark mb-3">
                New South Wales
            </h2>

            {% for item in settings.offices['nsw'] %}
                {% include components/content/contact_box.html %}
            {% endfor %}

            <div class="spacer mb-4"></div>

            <!-- NORTHERN TERRITORY -->
            <h2 class="h3 text-uppercase text-dark mb-3">
                Northern Territory
            </h2>

            {% for item in settings.offices['nt'] %}
                {% include components/content/contact_box.html %}
            {% endfor %}

            <div class="spacer mb-4"></div>

            <!-- TASMANIA -->
            <h2 class="h3 text-uppercase text-dark mb-3">
                Tasmania
            </h2>

            {% for item in settings.offices['tas'] %}
                {% include components/content/contact_box.html %}
            {% endfor %}

        </div>
    </div>
</section>