---
layout: base__page_sidebar_8x4
---

{% assign settings = site.data.settings %}

<!-- SECTION -->
<section class="section">


    {% include components/widgets/google_map.html id="google-map" %}


</section>

{% contentfor sidebar %}

    <!-- REQUEST A CALLBACK -->
    <section class="section">

        <!-- HEADING -->
        <h3 class="d-flex text-white mb-4">
            <i class="fa fa-comments-o mr-2"></i> Request a callback
        </h3>

        {% include form_contact.html %}
    </section>
{% endcontentfor %}