---
layout: base__page
---

<script>
	var staff = [
	   { name: 'John Payne', position: 'Principal', location: 'QLD', image: '/assets/img/content/people/john-payne@2x.jpg', url: '/our-people/our-people-item/' },
	   { name: 'Cameron Hall', position: 'Principal', location: 'QLD', image: '/assets/img/content/people/cameron-hall@2x.jpg', url: '/our-people/our-people-item/' },
	   { name: 'Luke Forsyth', position: 'Principal', location: 'NSW', image: '/assets/img/content/people/luke-forsyth@2x.jpg', url: '/our-people/our-people-item/' },
	   { name: 'Linda Brangan', position: 'Principal', location: 'QLD', image: '/assets/img/content/people/linda-brangan@2x.jpg', url: '/our-people/our-people-item/' },
	   { name: 'Luke Tiley', position: 'Principal', location: 'QLD', image: '/assets/img/content/people/luke-tiley@2x.jpg', url: '/our-people/our-people-item/' },
	   { name: 'Cale Fryer', position: 'Principal', location: 'QLD', image: '/assets/img/content/people/cale-fryer@2x.jpg', url: '/our-people/our-people-item/' },
	   { name: 'Joseph Kennedy', position: 'Principal', location: 'NSW', image: '/assets/img/content/people/joseph-kennedy@2x.jpg', url: '/our-people/our-people-item/' },
	   { name: 'Kalina Pyra', position: 'Senior Associate', location: 'QLD', image: '/assets/img/content/people/kalina-pyra@2x.jpg', url: '/our-people/our-people-item/' },
	   { name: 'Claire Gabriel', position: 'Senior Associate', location: 'QLD', image: '/assets/img/content/people/claire-gabriel@2x.jpg', url: '/our-people/our-people-item/' },
	   { name: 'Megan Stanley', position: 'Senior Associate', location: 'QLD', image: '/assets/img/content/people/megan-stanley@2x.jpg', url: '/our-people/our-people-item/' },
	   { name: 'Juliana Virine', position: 'Senior Associate', location: 'QLD', image: '/assets/img/content/people/juliana-virine@2x.jpg', url: '/our-people/our-people-item/' },
	   { name: 'Indi Gunadasa', position: 'Associate', location: 'TAS', image: '/assets/img/content/people/indi-gunadasa@2x.jpg', url: '/our-people/our-people-item/' },
	   { name: 'Kym Greinke', position: 'Associate', location: 'QLD', image: '/assets/img/content/people/kym-greinke@2x.jpg', url: '/our-people/our-people-item/' },
	   { name: 'Andrew Smith', position: 'Solicitor', location: 'NT', image: null, url: '/our-people/our-people-item/' },
	   { name: 'Gary Su', position: 'Solicitor', location: 'QLD', image: null, url: '/our-people/our-people-item/' },
	   { name: 'Jessica Hodge', position: 'Solicitor', location: 'QLD', image: null, url: '/our-people/our-people-item/' },
	   { name: 'Jamie Byrne', position: 'Solicitor', location: 'QLD', image: null, url: '/our-people/our-people-item/' },
	   { name: 'Syvannah Harper', position: 'Solicitor', location: 'NSW', image: null, url: '/our-people/our-people-item/' },
	   { name: 'Shirley Baker', position: 'Solicitor', location: 'QLD', image: '/assets/img/content/people/shirley-baker@2x.jpg', url: '/our-people/our-people-item/' },
	   { name: 'Ellie Bassingthwaighte', position: 'Solicitor', location: 'QLD', image: null, url: '/our-people/our-people-item/' },
	   { name: 'Kris Birch', position: 'Solicitor', location: 'QLD', image: '/assets/img/content/people/kris-birch@2x.jpg', url: '/our-people/our-people-item/' },
	   { name: 'Dale Blackmore', position: 'Solicitor', location: 'QLD', image: '/assets/img/content/people/dale-blackmore@2x.jpg', url: '/our-people/our-people-item/' },
	   { name: 'Vanessa Brown', position: 'Solicitor', location: 'QLD', image: '/assets/img/content/people/vanessa-brown@2x.jpg', url: '/our-people/our-people-item/' },
	   { name: 'Elliott Dalgleish', position: 'Solicitor', location: 'QLD', image: null, url: '/our-people/our-people-item/' },
	   { name: 'Paul Spoto', position: 'Solicitor', location: 'QLD', image: '/assets/img/content/people/paul-spoto@2x.jpg', url: '/our-people/our-people-item/' },
	   { name: 'Leanne Taylor', position: 'Registered Migration Agent', location: 'QLD', image: '/assets/img/content/people/leanne-taylor@2x.jpg', url: '/our-people/our-people-item/' },

	];
</script>

<!-- SECTION -->
<section id="vue-staff-app" class="section">
	<div class="container">
		<div class="row align-items-end">
			<div class="col-md-8 pr-md-4">

				<!-- LEAD -->
				<p class="lead mb-4">
					{{ page.lead }}
				</p>

				<!-- WYSIWYG -->
				<div class="wysiwyg mb-4 mb-md-0">
					{{ content | markdownify }}
				</div>

			</div>
			<div class="col-md-4 pl-md-5">

				<!-- FORM SORT SELECT -->
				<div class="form-sort-select d-flex align-items-center ml-xxl-5">
					<span class="text">Sort by:</span>
					<sort-select
						v-model="sortOrder"
						:sort-options="sortOptions">
					</sort-select>
				</div>

			</div>
		</div>

		<div class="spacer mb-3 mb-md-5"></div>

		<!-- OUTPUT -->
		<ul class="block-grid-xs-1 block-grid-md-2 block-grid-lg-4 block-grid-xl-5 is-condensed mb-5">
			<li v-for="(item, index) in sort(sortOrder)"
				:key="index">

				<!-- CARD -->
				<div class="card is-flat">

					<!-- IMAGE -->
					<a class="btn-tile" :href="item.url">
						<img width="100%" class="card-img-top" src="/assets/img/ui/no-face.png" :alt="item.name">
						<span v-if="!item.image" class="btn-tile-bg" style="background-image: url('/assets/img/ui/no-face.png')"></span>
						<span v-if="item.image" class="btn-tile-bg" :style="{ backgroundImage: 'url(' + item.image +')' }"></span>
					</a>

					<!-- CARD BODY -->
					<div class="card-body d-flex flex-column">

						<!-- TITLE -->
						<a href="/our-people/our-people-item/">
							<h3 class="h5 text-uppercase card-title mb-1" v-text="item.name"></h3>
						</a>

						<!-- POSITION + LOCATION -->
						<p class="text-muted h6 font-weight-normal">
							<span v-text="item.position + ', ' + item.location"></span>
						</p>

					</div>
				</div>

			</li>
		</ul>

	</div>
</section>