---
layout: base__page_sidebar_6x6_bgless
---

<!-- SECTION -->
<section class="section pb-0">

	<!-- HEADER -->
	<header class="text-uppercase mb-4">
		<h1 class="text-primary">{{ page.title }}</h1>
		<h3 class="h4 text-primary">Solicitor</h3>
	</header>

	<!-- LEAD -->
	<p class="lead mb-4">
		{{ page.lead }}
	</p>

	<!-- WYSIWYG -->
	<div class="wysiwyg mb-4">
		{{ content | markdownify }}
	</div>

</section>

{% contentfor sidebar %}
	<section class="section">

		<!-- PHOTO -->
		<p class="mb-1"><img width="100%" src="/assets/img/content/vanessa-brown.jpg" alt="Vanessa brown"></p>

		<!-- GET IN TOUCH -->
		<div class="sidebox mb-1">
			<h3 class="sidebox-header h5 text-uppercase mb-3">Get in Touch with Vanessa...</h3>
			<div class="sidebox-body">

				<div class="row">
					<div class="col-xxl-5">

						<!-- PHONE -->
						<p class="mb-3">
						    <a class="d-inline-flex align-items-center" href="tel:0732810322">
						        <i class="fa fa-phone mr-2"></i>
						        <span class="text">(07) 3281 0322</span>
						    </a>
						</p>

						<!-- LINKED IN -->
						<p class="mb-3">
						    <a class="d-inline-flex align-items-center" href="#/LINK-HERE">
						        <i class="fa fa-linkedin mr-2"></i>
						        <span class="text">LinkedIn profile</span>
						    </a>
						</p>

					</div>
					<div class="col-xxl-7">

						<!-- EMAIL -->
						<p class="mb-3">
		                    <a class="d-inline-flex align-items-center" href="mailto:vanessa@hallpayne.com.au">
		                        <i class="fa fa-envelope mr-2"></i>
		                        <span class="text">vanessa@hallpayne.com.au</span>
		                    </a>
		                </p>

						<!-- ADDRESS -->
	    				<p class="mb-0">
	                        <a class="d-inline-flex align-items-start" href="#/LINK-HERE">
	                            <i class="fa fa-map-marker mr-2"></i>
	                            <span class="text">Ground Floor, 16 Ellenborough Street Ipswich QLD, 4305</span>
	                        </a>
	                    </p>

					</div>
				</div>

			</div>
		</div>

		<!-- KEY SERVICE AREAS -->
		<div class="sidebox mb-1">
			<h3 class="sidebox-header h5 text-uppercase mb-3">Key Service Areas</h3>
			<div class="sidebox-body">
				<ul class="block-grid-xs-1 block-grid-xxl-2">
					<li><a href="#">Personal Compensation Law <i class="fa fa-angle-right"></i></a></li>
					<li><a href="#">Disability &amp; Super <i class="fa fa-angle-right"></i></a></li>
					<li><a href="#">Family Law <i class="fa fa-angle-right"></i></a></li>
					<li><a href="#">Another Practice Area <i class="fa fa-angle-right"></i></a></li>
					<li><a href="#">Commercial Law <i class="fa fa-angle-right"></i></a></li>
				</ul>
			</div>
		</div>

		<!-- QUALIFICATIONS -->
		<div class="sidebox mb-4">
			<h3 class="sidebox-header h5 text-uppercase mb-3">Qualifications</h3>
			<div class="sidebox-body">
				<ul class="block-grid-xs-1">
					<li>- Bachelor of Laws</li>
					<li>- Graduate Diploma of Legal Practice</li>
				</ul>
			</div>
		</div>
	</section>
{% endcontentfor %}

{% contentfor content_additional %}
	<!-- BLOG POSTS -->
	<section class="section is-primary">
		<div class="container">
			<h2 class="text-white text-uppercase text-center mb-5">Blog Posts - Personal Compensation Law</h2>
			{% include components/cards/cards.html flat="true" columns=4 %}
			<p class="text-center mb-0">
				<a href="#" class="btn btn-secondary">More Blog Articles &nbsp;<i class="fa fa-angle-right"></i></a>
			</p>
		</div>
	</section>
{% endcontentfor %}