{% comment %}
<!--
    NAVIGATION

    updated: 16.04.18
    note: data is pulled from src/data/sitemap.yml
    OUTPUT:

        <ul>
            <li class="active"><a class="top-parent-anchor" href="/">HOME</a></li>
            <li><a class="top-parent-anchor" href="/path/"><span class="text">PARENT LINK</span></a></li>
            <li class="has-dropdown">
                <a class="top-parent-anchor" href="/path/"><span class="text">PARENT LINK WITH CHILDREN</span></a>
                <ul class="dropdown" data-parent="PARENT LINK WITH CHILDREN">
                    <li><a href="/path/path/"><span class="text">CHILD LINK</span></a></li>
                </ul>
            </li>
        </ul>
-->
{% endcomment %}

{% assign settings = site.data.settings %}
{% assign phone = settings.offices[0].phone %}
{% assign sitemap = site.data.sitemap %}

<ul>
    {% for item in sitemap %}

        {% capture parent_classes %}
            {% if forloop.first and page.url == "/" %} active {% endif %}
            {% if forloop.index > 1 and page.url contains item.url %} active {% endif %}
            {% if item.children %} has-dropdown {% endif %}
            {% if item.children and item.children.size > 7 %} is-mega {% endif %}
            {% if item.children and forloop.index >= 6 or forloop.last %} is-right-aligned {% endif %}
            {% if item.cta %} {{ item.cta }} {% endif %}
        {% endcapture %}

        <li class="{{ parent_classes }}">

            <!-- TOP LEVEL -->
            <a class="top-parent-anchor" href="{{ item.url }}">
                {% if item.icon %}<i class="{{ item.icon }} mr-1"></i>{% endif %}
                <span class="text">{{ item.title }}</span>
            </a>

            <!-- SECOND LEVEL -->
            {% if item.children %}
                <ul class="dropdown {% if item.include_children_in_nav %} is-nav-included {% endif %}" data-parent="{{ item.title }}">
                    {% for item in item.children %}
                        <li class="{% if item.children %} has-dropdown {% endif %}">
                            <a href="{{ item.url }}"><span class="text">{{ item.title }}</span></a>

                            <!-- THIRD LEVEL -->
                            {% if item.children %}
                                <ul class="dropdown" data-parent="{{ item.title }}">
                                    {% for item in item.children %}
                                        <li class="{% if item.children %} has-dropdown {% endif %}">
                                            <a href="{{ item.url }}"><span class="text">{{ item.title }}</span></a>

                                            <!-- FOURTH LEVEL -->
                                            {% if item.children %}
                                                <ul class="dropdown" data-parent="{{ item.title }}">
                                                    {% for item in item.children %}
                                                        <li><a href="{{ item.url }}"><span class="text">{{ item.title }}</span></a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}

                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}

    <!-- SOCIAL MEDIA (OPTIONAL) -->
    <li class="is-off-canvas-only pt-2">
        {% include components/social_media.html %}
    </li>

    <!-- SEARCH (OPTIONAL) -->
    <li class="is-off-canvas-only">
        {% include components/forms/form_search.html %}
    </li>

</ul>