<!-- BLOG MODAL -->
<div id="blog-modal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 text-center">

                        <!-- LEGAL TEXT -->
                        <h4 class="text-center text-white mb-4 pb-2">
                            This article relates to Queensland personal compensation. If you are seeking information about Queensland personal compensation law, click 'yes' to view the article.
                        </h4>

                        <!-- YES / NO -->
                        <ul class="block-grid-xs-2 is-condensed-more mx-auto" style="max-width: 270px">
                            <li><button class="btn btn-block btn-primary" type="button" data-yes-btn>YES</button></li>
                            <li><button class="btn btn-block btn-primary" onclick="window.location = '/blog/'" type="button">NO</button></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>