{% assign data = include.data | default: site.data.media_articles %}

{% for item in data %}

	{% capture row_classes %}
		{% if item.reverse_columns %}
			flex-row-reverse
		{% endif %}
	{% endcapture %}

	<!-- MEDIA ARTICLE -->
	<article class="mb-4">
		<div class="row {{ row_classes }}">
			<div class="col-md-8 col-xl-9 pr-lg-4">
				<h5>{{ item.title }}</h5>

				<!-- WYSIWYG -->
				<div class="wysiwyg">
					{{ item.body | markdownify }}
				</div>

			</div>
			<div class="col-md-4 col-xl-3">
				<p><img width="100%" src="{{ item.image }}" alt="{{ item.image_alt }}"></p>
			</div>
		</div>
	</article>
{% endfor %}